-- CreateEnum
CREATE TYPE "MessageChannel" AS ENUM ('WHATSAPP', 'INSTAGRAM');

-- AlterTable
ALTER TABLE "Message" ADD COLUMN     "channel" "MessageChannel" NOT NULL DEFAULT 'WHATSAPP';

-- CreateIndex
CREATE INDEX "Message_hotelId_channel_idx" ON "Message"("hotelId", "channel");

